body {
    font-family: 'Open Sans', sans-serif;
}

#intro {
    background: rgb(0,2,65);
    background: linear-gradient(90deg, rgba(0,2,65,1) 0%, rgba(19,33,128,1) 35%, rgba(40,126,207,1) 100%);
    padding: 5%;
    
    max-width: 100%;

    display: flex;
    justify-content: center;

}

#intro-text {
    color: #f7cb4d; 
    display: table-cell;

    width: 100%;
    text-align: center;
    margin-right: 5%;
}

/* Section 1 starts here */
#section1, #section2 {
    color: #132180;
    padding-left: 5%;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
}

<<<<<<< HEAD
#disclaimer {
    color: #132180;

    text-align: left;
    width:100%;
    margin-left:2%;

    font-family: 'Joan', serif;
    font-style:italic;
}

#intro_explanation {
    display: table-row;

    color: #132180;

    margin-left: 5%;

    font-family: 'Joan', serif;
}

#our_pics {
    float: left;
    width: 33.3%;
=======
#section1-title {
    width:100%;
}

#section1-text, #section2-text {
    width:70%;
    color: black;
    line-height: 2;
}

/* Section 2 starts here */
#section2-result {
    display: flex;
}

#section2-text {
    width: 50%; 
    margin-right: 10%;
>>>>>>> 625815e6dee5089c70579602de40815c760442b5
}

#explanation {
    float: left;
    width: 33.3%;
    text-align: center;
}

#WOSS_pics {
    float: left;
    width : 33.3%;
}

#section1 {
   
    color: #132180;

    display:table-row;
    text-align: left;
    margin-left: 5%;

    font-family: 'Joan', serif;
}




