#intro {
    background: rgb(0,2,65);
    background: linear-gradient(90deg, rgba(0,2,65,1) 0%, rgba(19,33,128,1) 35%, rgba(40,126,207,1) 100%);
    padding: 5%;
    
    max-width: 100%;

    display: flex;
    justify-content: center;

}

#intro-text {
    color: #f7cb4d; 
    display: table-cell;

    width: 100%;
    text-align: center;
    margin-right: 5%;

    font-family: 'Joan', serif;
}

.section1 {
    padding-left: 5%;
}

#disclaimer {
    color: #132180;

    text-align: left;
    width:100%;
    margin-left:2%;

    font-family: 'Joan', serif;
    font-style:italic;
}

#intro_explanation {
    display: table-row;

    color: #132180;

    margin-left: 5%;

    font-family: 'Joan', serif;
}

#our_pics {
    float: left;
    width: 33.3%;
}

#section1-title {
   
    color: #132180;

    text-align: left;
    width:100%;
    margin-left: 5%;

    font-family: 'Joan', serif;
}

#section1-text {
    color: #132180;

    text-align: left;
    width:80%;
    margin-left: 5%;

    font-family: 'Joan', serif;
}

}

#explanation {
    float: left;
    width: 33.3%;
    text-align: center;
}

#WOSS_pics {
    float: left;
    width : 33.3%;
}

#section1 {
   
    color: #132180;

    display:table-row;
    text-align: left;
    margin-left: 5%;

    font-family: 'Joan', serif;
}




